**Lab 1**

Using the dataset at https://bit.ly/2JIORnq
1. Assign it to a variable called users and use the 'user_id' as index
2. What is the age with least occurrence?
3. What is the mean age of users?
4. What is the most frequent occupation?

In [0]:
import pandas as pd
a= pd.Series({'a':1,'b':2,'c':3})

In [0]:
1 in a

False

In [0]:
import pandas as pd
a= pd.Series({'b':1,'c':2,'a':3})
print(a)

b    1
c    2
a    3
dtype: int64

In [0]:

users = pd.read_csv("https://bit.ly/2JIORnq", delimiter='|')
b=users.set_index("user_id")
counts = users['age'].value_counts()
c=counts.tail(10)
d=users["age"].mean()
counts_occupation= users['occupation'].value_counts()
most_occupation=counts_occupation.head()
print(counts)

30    39
25    38
22    37
28    36
27    35
      ..
11     1
10     1
73     1
66     1
7      1
Name: age, Length: 61, dtype: int64

In [0]:
print(most_occupation)

student          196
other            105
educator          95
administrator     79
engineer          67
Name: occupation, dtype: int64

In [0]:
print(counts_occupation)

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
salesman          12
lawyer            12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

In [0]:
print(d)

34.05196182396607

In [0]:
print(users)

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

In [0]:
print(b)

58    3
64    2
68    2
69    2
62    2
11    1
10    1
73    1
66    1
7     1
Name: age, dtype: int64

**Lab 2**

Dataset: https://bit.ly/2UUomN0
1. What is the price of each item?
2. What was the quantity of the most expensive item ordered?
3. How many times were a Veggie Salad Bowl ordered?
4. How many times people ordered more than one Canned Soda?

In [0]:
import pandas as pd
import numpy as np
df= pd.read_csv("https://bit.ly/2UUomN0", delimiter='\t')
df['item_price'] = df['item_price'].map(lambda x: float(x.strip()[1:]))
df['item_price'] = df['item_price'].astype(float)
d1=df.sort_values(by=['quantity', 'item_name','item_price'])
df = df.drop_duplicates(subset='item_name', keep='first')
df['Unit_Price']= df['item_price']/df['quantity']
df.sort_values(by=['Unit_Price']).max()

1

In [0]:
df= pd.read_csv("https://bit.ly/2UUomN0", delimiter='\t')
d=[df['item_name']=='Veggie Salad Bowl']
l= np.count_nonzero(d)
l

18

In [0]:
df[df['item_name']=='Canned Soda']
b=df['quantity']>1
c=np.count_nonzero(b)
c

267

**Lab 3**

Dataset: https://bit.ly/1N5br3h
1. Assign Columns for the dataset 
2. Is there any missing value in the dataframe?
3. delete the column class
4. set the values of the rows 10 to 29 of the column 'petal_length' to NaN
5. Delete the rows that have NaN
6. Reset the index so it begins with 0 again
7. BONUS: Create & Answer your own question

In [0]:
import numpy as np
import pandas as pd

col_Names=["Sepal_length", "Sepal_width", "Petal_length","Petal_width","class"]
df= pd.read_csv("https://bit.ly/1N5br3h", delimiter=',')
df= pd.read_csv("https://bit.ly/1N5br3h",names=col_Names)
b=df.isnull()
df_class=df.drop(columns='class')
d=df['Petal_length']
d[10:29]=np.nan
df1=df.dropna()
df1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

     Sepal_length  Sepal_width  Petal_length  Petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[131 rows x 5 columns]

In [0]:
df1
df1.index.map()
#pd.Index(np.arange(131))=

SyntaxError: ignored

**Lab 4**

DataSet: https://bit.ly/2CudMVh
1. Assign it to a variable called drinks.
2. Which continent drinks more beer on average?
3. For each continent print the statistics for wine consumption.
4. Display the mean alcohol consumption per continent for every column.
5. Display the median alcohol consumption per continent for every column.
6. Display the mean, min and max values for spirit consumption.

In [70]:
import matplotlib.pyplot as plt
drinks= pd.read_csv("https://bit.ly/2CudMVh", delimiter=',')
d=drinks.groupby(['continent']).mean()
d1=d.sort_values(by=['continent','beer_servings']).max()
drinks_con=drinks.groupby(['continent']).describe()
drinks_con_stat=drinks_con['wine_servings']
drinks_mean_alc=d['total_litres_of_pure_alcohol']
drinks_med=drinks.groupby(['continent']).median()
drinks_med=drinks_med['total_litres_of_pure_alcohol']
drinks_con_stat_spr=drinks_con['spirit_servings']
drinks_con_stat_spr[['mean','min','max']]

                 mean   min    max
continent
AF          16.339623   0.0  152.0
AS          60.840909   0.0  326.0
EU         132.555556   0.0  373.0
OC          58.437500   0.0  254.0
SA         114.750000  25.0  302.0

In [66]:
drinks

         country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0    Afghanistan              0  ...                           0.0         AS
1        Albania             89  ...                           4.9         EU
2        Algeria             25  ...                           0.7         AF
3        Andorra            245  ...                          12.4         EU
4         Angola            217  ...                           5.9         AF
..           ...            ...  ...                           ...        ...
188    Venezuela            333  ...                           7.7         SA
189      Vietnam            111  ...                           2.0         AS
190        Yemen              6  ...                           0.1         AS
191       Zambia             32  ...                           2.5         AF
192     Zimbabwe             64  ...                           4.7         AF

[193 rows x 6 columns]