**Lab 1**

Using the dataset at https://bit.ly/2JIORnq
1. Assign it to a variable called users and use the 'user_id' as index
2. What is the age with least occurrence?
3. What is the mean age of users?
4. What is the most frequent occupation?

In [0]:
import pandas as pd
users=pd.read_csv("https://bit.ly/2JIORnq",delimiter='|',usecols=['user_id'])
users
#users['user'].value_counts()

     user_id
0          1
1          2
2          3
3          4
4          5
..       ...
938      939
939      940
940      941
941      942
942      943

[943 rows x 1 columns]

In [0]:
import pandas as pd
users=pd.read_csv("https://bit.ly/2JIORnq",delimiter='|',usecols=['age'])
users
users['age'].value_counts().tail(1)

7    1
Name: age, dtype: int64

In [0]:
import pandas as pd
users=pd.read_csv("https://bit.ly/2JIORnq",delimiter='|')
users['age'].mean()
users['occupation'].value_counts().head(1)

student    196
Name: occupation, dtype: int64

**Lab 2**

Dataset: https://bit.ly/2UUomN0
1. What is the price of each item?
2. What was the quantity of the most expensive item ordered?
3. How many times were a Veggie Salad Bowl ordered?
4. How many times people ordered more than one Canned Soda?

In [0]:
import pandas as pd
users=pd.read_csv("https://bit.ly/2UUomN0",delimiter='\t')
#m=pd.to_numeric(users['item_price'].str.replace('$',''))
users['item_price']=users['item_price'].map(lambda x:float(x.strip()[1:]))
users
users = users[['quantity','item_price']][users.item_price==users['item_price'].max()]
users

      quantity  item_price
3598        15       44.25

In [0]:
#veggie salad Bowl
import pandas as pd
users=pd.read_csv("https://bit.ly/2UUomN0",delimiter='\t')
users
c=users[users['item_name']=='Veggie Salad Bowl']
print(c.quantity.sum())
c=users[(users['item_name']=='Canned Soda') & (users['quantity']>1)]
print(c['quantity'].count())

18
20

**Lab 3**

Dataset: https://bit.ly/1N5br3h
1. Assign Columns for the dataset 
2. Is there any missing value in the dataframe?
3. delete the column class
4. set the values of the rows 10 to 29 of the column 'petal_length' to NaN
5. Delete the rows that have NaN
6. Reset the index so it begins with 0 again
7. BONUS: Create & Answer your own question

In [0]:
import pandas as pd
users=pd.read_csv("https://bit.ly/1N5br3h",delimiter=',',names=['sepal_length','sepal_width','petal_length','petal_width','class'])
users
df=users.isnull()
df

#users=users.drop(['class'], axis = 1)
#users
#users['petal_length'][10:30]='NaN'
#users['petal_length'][10:30]
#users=users.drop(['class'], axis = 1)

     sepal_length  sepal_width  petal_length  petal_width  class
0           False        False         False        False  False
1           False        False         False        False  False
2           False        False         False        False  False
3           False        False         False        False  False
4           False        False         False        False  False
..            ...          ...           ...          ...    ...
145         False        False         False        False  False
146         False        False         False        False  False
147         False        False         False        False  False
148         False        False         False        False  False
149         False        False         False        False  False

[150 rows x 5 columns]

In [0]:
df1=users.drop(['class'], axis = 1)
df1

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [0]:
df1['petal_length'][10:30]='NaN'
df1['petal_length'][10:30]
df1.dropna()
df1[1:40]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

    sepal_length  sepal_width petal_length  petal_width
1            4.9          3.0          1.4          0.2
2            4.7          3.2          1.3          0.2
3            4.6          3.1          1.5          0.2
4            5.0          3.6          1.4          0.2
5            5.4          3.9          1.7          0.4
6            4.6          3.4          1.4          0.3
7            5.0          3.4          1.5          0.2
8            4.4          2.9          1.4          0.2
9            4.9          3.1          1.5          0.1
10           5.4          3.7          NaN          0.2
11           4.8          3.4          NaN          0.2
12           4.8          3.0          NaN          0.1
13           4.3          3.0          NaN          0.1
14           5.8          4.0          NaN          0.2
15           5.7          4.4          NaN          0.4
16           5.4          3.9          NaN          0.4
17           5.1          3.5          NaN          0.3
18           5.7          3.8          NaN          0.3
19           5.1          3.8          NaN          0.3
20           5.4          3.4          NaN          0.2
21           5.1          3.7          NaN          0.4
22           4.6          3.6          NaN          0.2
23           5.1          3.3          NaN          0.5
24           4.8          3.4          NaN          0.2
25           5.0          3.0          NaN          0.2
26           5.0          3.4          NaN          0.4
27           5.2          3.5          NaN          0.2
28           5.2          3.4          NaN          0.2
29           4.7          3.2          NaN          0.2
30           4.8          3.1          1.6          0.2
31           5.4          3.4          1.5          0.4
32           5.2          4.1          1.5          0.1
33           5.5          4.2          1.4          0.2
34           4.9          3.1          1.5          0.1
35           5.0          3.2          1.2          0.2
36           5.5          3.5          1.3          0.2
37           4.9          3.1          1.5          0.1
38           4.4          3.0          1.3          0.2
39           5.1          3.4          1.5          0.2

In [0]:
#df1[5:30]
df1.dropna(how='any')
df1[5:30]

    sepal_length  sepal_width petal_length  petal_width
5            5.4          3.9          1.7          0.4
6            4.6          3.4          1.4          0.3
7            5.0          3.4          1.5          0.2
8            4.4          2.9          1.4          0.2
9            4.9          3.1          1.5          0.1
10           5.4          3.7          NaN          0.2
11           4.8          3.4          NaN          0.2
12           4.8          3.0          NaN          0.1
13           4.3          3.0          NaN          0.1
14           5.8          4.0          NaN          0.2
15           5.7          4.4          NaN          0.4
16           5.4          3.9          NaN          0.4
17           5.1          3.5          NaN          0.3
18           5.7          3.8          NaN          0.3
19           5.1          3.8          NaN          0.3
20           5.4          3.4          NaN          0.2
21           5.1          3.7          NaN          0.4
22           4.6          3.6          NaN          0.2
23           5.1          3.3          NaN          0.5
24           4.8          3.4          NaN          0.2
25           5.0          3.0          NaN          0.2
26           5.0          3.4          NaN          0.4
27           5.2          3.5          NaN          0.2
28           5.2          3.4          NaN          0.2
29           4.7          3.2          NaN          0.2

In [0]:
import pandas as pd
users=pd.read_csv("https://bit.ly/1N5br3h",delimiter=',',names=['sepal_length','sepal_width','petal_length','petal_width','class'])
users
#users = users.apply (pd.to_numeric, errors='coerce')
#users = users.dropna()

#print (users)

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [1]:
import numpy as np
import pandas as pd
flower = pd.read_csv("https://bit.ly/1N5br3h",sep=',' , names=['sepal_length','sepal_width','petal_width', 'class'])
flower
flower.isnull().any()
c=flower.drop(['class'], axis=1)
c
c=flower.drop(['class'], axis=1)
c
flower.iloc[10:30, -2]=np.NaN
flower.head(40)
flower.dropna(axis=0, inplace=True)
flower.head(n=40)
flower = flower.reset_index()
del flower['index']
flower

     sepal_length  sepal_width  petal_width           class
0             3.5          1.4          0.2     Iris-setosa
1             3.0          1.4          0.2     Iris-setosa
2             3.2          1.3          0.2     Iris-setosa
3             3.1          1.5          0.2     Iris-setosa
4             3.6          1.4          0.2     Iris-setosa
..            ...          ...          ...             ...
125           3.0          5.2          2.3  Iris-virginica
126           2.5          5.0          1.9  Iris-virginica
127           3.0          5.2          2.0  Iris-virginica
128           3.4          5.4          2.3  Iris-virginica
129           3.0          5.1          1.8  Iris-virginica

[130 rows x 4 columns]

**Lab 4**

DataSet: https://bit.ly/2CudMVh
1. Assign it to a variable called drinks.
2. Which continent drinks more beer on average?
3. For each continent print the statistics for wine consumption.
4. Display the mean alcohol consumption per continent for every column.
5. Display the median alcohol consumption per continent for every column.
6. Display the mean, min and max values for spirit consumption.

In [4]:
import pandas as pd
drinks = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv",sep=',' )
drinks.head(60)
more_avg_beer=drinks.groupby('continent').beer_servings.mean()
more_avg_beer.head(1)
drinks.groupby('continent').wine_servings.mean()
drinks.groupby('continent').total_litres_of_pure_alcohol.mean()
drinks.groupby('continent').total_litres_of_pure_alcohol.median()
drinks.spirit_servings.mean()
drinks.spirit_servings.min(axis=0)
drinks.spirit_servings.max(axis=0)

438