**Lab 1**

Using the dataset at https://bit.ly/2JIORnq
1. Assign it to a variable called users and use the 'user_id' as index
2. What is the age with least occurrence?
3. What is the mean age of users?
4. What is the most frequent occupation?

In [0]:
import pandas as pd
df=pd.read_csv("https://bit.ly/2JIORnq", delimiter='|',index_col='user_id')
print(df.head())

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

In [0]:
df['age'].value_counts().tail(1)

7    1
Name: age, dtype: int64

In [0]:
df['age'].mean()

34.05196182396607

In [0]:
df['occupation'].value_counts().index[0]

'student'

NameError: ignored

**Lab 2**

Dataset: https://bit.ly/2UUomN0
1. What is the price of each item?
2. What was the quantity of the most expensive item ordered?
3. How many times were a Veggie Salad Bowl ordered?
4. How many times people ordered more than one Canned Soda?

In [0]:
import pandas as pd
import pprint
df=pd.read_csv("https://bit.ly/2UUomN0",delimiter='\t')
df[['item_name','item_price']]
# l=df['item_price'].tolist()
# l1=[]
# for i in

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

In [0]:
import pandas as pd
df=pd.read_csv("https://bit.ly/2UUomN0",delimiter='\t')
df['item_price']=pd.to_numeric(df['item_price'].str.replace('$',''))
print(max(l))
print(df.iloc[df.item_price.argmax()])

44.25
order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                   44.25
Name: 3598, dtype: object

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  """

In [7]:
#Veggie Salad Bowl 
import pandas as pd
df=pd.read_csv("https://bit.ly/2UUomN0",delimiter='\t')
c=df[df['item_name']=='Veggie Salad Bowl']
c.quantity.sum()

18

In [4]:
#Canned Soda
#How many times people ordered more than one Canned Soda?
c=df[(df['item_name']=='Canned Soda') & (df['quantity']>1)]
print(c['quantity'].count())

20

In [0]:
df['item_price'].map(lambda x : float(x.strip()[1:))

In [0]:
df['titem_price']

KeyError: ignored

**Lab 3**

Dataset: https://bit.ly/1N5br3h
1. Assign Columns for the dataset 
2. Is there any missing value in the dataframe?
3. delete the column class
4. set the values of the rows 10 to 29 of the column 'petal_length' to NaN
5. Delete the rows that have NaN
6. Reset the index so it begins with 0 again
7. BONUS: Create & Answer your own question

In [0]:

json_str='''[
  {"name":"Avneesh","gender":"M","age":44},
  {"name":"Aamir","gender":"M","age":32}
  {"name":"Meera","gender":"F","age":44}
]'''
import json
json.loads(json_str)
pd.

In [0]:
import pandas as pd
df=pd.read_csv("https://bit.ly/1N5br3h",sep=',', names=['sepal_length','sepal_width','petal_length','patal_width','class'])
print(df)

     sepal_length  sepal_width  petal_length  patal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [0]:
#Is there any missing value in the dataframe?
df.isnull().any()

sepal_length    False
sepal_width     False
petal_length    False
patal_width     False
class           False
dtype: bool

In [0]:
#delete the column class
d=df.drop(['class'],axis=1)
d

     sepal_length  sepal_width  petal_length  patal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [0]:
df['petal_length'][10:30]

10    1.5
11    1.6
12    1.4
13    1.1
14    1.2
15    1.5
16    1.3
17    1.4
18    1.7
19    1.5
20    1.7
21    1.5
22    1.0
23    1.7
24    1.9
25    1.6
26    1.6
27    1.5
28    1.4
29    1.6
Name: petal_length, dtype: float64

In [0]:
#set the values of the rows 10 to 29 of the column 'petal_length' to NaN
df['petal_length'][10:30]='Nan'

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [0]:
print(df['petal_length'][10:30])

10    Nan
11    Nan
12    Nan
13    Nan
14    Nan
15    Nan
16    Nan
17    Nan
18    Nan
19    Nan
20    Nan
21    Nan
22    Nan
23    Nan
24    Nan
25    Nan
26    Nan
27    Nan
28    Nan
29    Nan
Name: petal_length, dtype: object

In [0]:
# Reset the index so it begins with 0 again
# Delete the rows that have NaN
df.dropna(axis=0)
print(df)

     sepal_length  sepal_width petal_length  patal_width           class
0             5.1          3.5          1.4          0.2     Iris-setosa
1             4.9          3.0          1.4          0.2     Iris-setosa
2             4.7          3.2          1.3          0.2     Iris-setosa
3             4.6          3.1          1.5          0.2     Iris-setosa
4             5.0          3.6          1.4          0.2     Iris-setosa
..            ...          ...          ...          ...             ...
145           6.7          3.0          5.2          2.3  Iris-virginica
146           6.3          2.5            5          1.9  Iris-virginica
147           6.5          3.0          5.2          2.0  Iris-virginica
148           6.2          3.4          5.4          2.3  Iris-virginica
149           5.9          3.0          5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [0]:
#Reset the index so that it begins with 0 again
df = df.reindex(range(0,150))
df

     sepal_length  sepal_width petal_length  patal_width           class
0             5.1          3.5          1.4          0.2     Iris-setosa
1             4.9          3.0          1.4          0.2     Iris-setosa
2             4.7          3.2          1.3          0.2     Iris-setosa
3             4.6          3.1          1.5          0.2     Iris-setosa
4             5.0          3.6          1.4          0.2     Iris-setosa
..            ...          ...          ...          ...             ...
145           6.7          3.0          5.2          2.3  Iris-virginica
146           6.3          2.5            5          1.9  Iris-virginica
147           6.5          3.0          5.2          2.0  Iris-virginica
148           6.2          3.4          5.4          2.3  Iris-virginica
149           5.9          3.0          5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [0]:
z.rename(columns=lambda x: x+5)
z.rename(index={0:'a',1:'b',2:'c'})

In [0]:
bins=[0,0.25,]
pd.cut(ages, bins, labels=[])

In [0]:
data[data['two']>1]
data[data>5]=5
data.loc[row,column]
iloc=integers

In [0]:
a=pd.Series({'a':1,'b':2,'c':3 })
df=pd.DataFrame({
   'a':[1,2,3],
   'b':[4,5,6],
   'c':[7,8,9] 
})

In [0]:
df+a

   a  b   c
0  2  6  10
1  3  7  11
2  4  8  12

In [0]:
import numpy as np
import pandas as pd
a=pd.Series({'a':1,'b':2,'c':3 })
df=pd.DataFrame({})

In [0]:
import 
f=lambda x: x.max()-x.min()
np.exp(f)
frame.apply()
sort_index()
sort_values

**Lab 4**

DataSet: https://bit.ly/2CudMVh
1. Assign it to a variable called drinks.
2. Which continent drinks more beer on average?
3. For each continent print the statistics for wine consumption.
4. Display the mean alcohol consumption per continent for every column.
5. Display the median alcohol consumption per continent for every column.
6. Display the mean, min and max values for spirit consumption.

In [9]:
#Assign it to a variable called drinks.
import pandas as pd
drinks=pd.read_csv("https://bit.ly/2CudMVh")
drinks

         country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0    Afghanistan              0  ...                           0.0         AS
1        Albania             89  ...                           4.9         EU
2        Algeria             25  ...                           0.7         AF
3        Andorra            245  ...                          12.4         EU
4         Angola            217  ...                           5.9         AF
..           ...            ...  ...                           ...        ...
188    Venezuela            333  ...                           7.7         SA
189      Vietnam            111  ...                           2.0         AS
190        Yemen              6  ...                           0.1         AS
191       Zambia             32  ...                           2.5         AF
192     Zimbabwe             64  ...                           4.7         AF

[193 rows x 6 columns]

In [4]:
#Which continent drinks more beer on average?
drinks[['beer_servings','continent']].continent.value_counts()

AF    53
EU    45
AS    44
OC    16
SA    12
Name: continent, dtype: int64

In [16]:
# For each continent print the statistics for wine consumption.
drk=drinks.dropna(axis=0)
#print(drk)
print(drk.groupby('continent').wine_servings.describe())

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

In [17]:
#Display the mean alcohol consumption per continent for every column.
drinks.groupby('continent').mean()

           beer_servings  ...  total_litres_of_pure_alcohol
continent                 ...
AF             61.471698  ...                      3.007547
AS             37.045455  ...                      2.170455
EU            193.777778  ...                      8.617778
OC             89.687500  ...                      3.381250
SA            175.083333  ...                      6.308333

[5 rows x 4 columns]

In [11]:
#Display the median alcohol consumption per continent for every column.
drinks.groupby('continent').total_litres_of_pure_alcohol.median()

continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

In [13]:
#Display the mean, min and max values for spirit consumption.
print(drinks.spirit_servings.mean())        
print(drinks.spirit_servings.max())          
print(drinks.spirit_servings.min())

80.99481865284974
438
0