**Lab 1**

Using the dataset at https://bit.ly/2JIORnq
1. Assign it to a variable called users and use the 'user_id' as index
2. What is the age with least occurrence?
3. What is the mean age of users?
4. What is the most frequent occupation?

In [0]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',sep="|")
users=df["user_id"]

print(users)

0        1
1        2
2        3
3        4
4        5
      ...
938    939
939    940
940    941
941    942
942    943
Name: user_id, Length: 943, dtype: int64

In [0]:
df['age'].mean()

34.05196182396607

In [0]:
df['occupation'].value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
doctor             7
homemaker          7
Name: occupation, dtype: int64

In [0]:
df['age'].value_counts()

30    39
25    38
22    37
28    36
27    35
      ..
11     1
10     1
73     1
66     1
7      1
Name: age, Length: 61, dtype: int64

**Lab 2**

Dataset: https://bit.ly/2UUomN0
1. What is the price of each item?
2. What was the quantity of the most expensive item ordered?
3. How many times were a Veggie Salad Bowl ordered?
4. How many times people ordered more than one Canned Soda?

In [0]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep="\t")
price=df[["item_price","item_name"]]
price

     item_price                              item_name
0        $2.39            Chips and Fresh Tomato Salsa
1        $3.39                                    Izze
2        $3.39                        Nantucket Nectar
3        $2.39   Chips and Tomatillo-Green Chili Salsa
4       $16.98                            Chicken Bowl
...         ...                                    ...
4617    $11.75                           Steak Burrito
4618    $11.75                           Steak Burrito
4619    $11.25                      Chicken Salad Bowl
4620     $8.75                      Chicken Salad Bowl
4621     $8.75                      Chicken Salad Bowl

[4622 rows x 2 columns]

In [0]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep="\t")
df["item_price"]=df["item_price"].map(lambda x :float(x.strip()[1:]))
df

      order_id  ...  item_price
0            1  ...        2.39
1            1  ...        3.39
2            1  ...        3.39
3            1  ...        2.39
4            2  ...       16.98
...        ...  ...         ...
4617      1833  ...       11.75
4618      1833  ...       11.75
4619      1834  ...       11.25
4620      1834  ...        8.75
4621      1834  ...        8.75

[4622 rows x 5 columns]

**Lab 3**

Dataset: https://bit.ly/1N5br3h
1. Assign Columns for the dataset 
2. Is there any missing value in the dataframe?
3. delete the column class
4. set the values of the rows 10 to 29 of the column 'petal_length' to NaN
5. Delete the rows that have NaN
6. Reset the index so it begins with 0 again
7. BONUS: Create & Answer your own question

In [0]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep="\t")
data_top = df.head()  
    
# display  
data_top

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

**Lab 4**

DataSet: https://bit.ly/2CudMVh
1. Assign it to a variable called drinks.
2. Which continent drinks more beer on average?
3. For each continent print the statistics for wine consumption.
4. Display the mean alcohol consumption per continent for every column.
5. Display the median alcohol consumption per continent for every column.
6. Display the mean, min and max values for spirit consumption.

In [4]:
import pandas as pd
drinks = pd.read_csv('https://bit.ly/2CudMVh',sep="\t")
drinks

    country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0                             Afghanistan,0,0,0,0.0,AS
1                             Albania,89,132,54,4.9,EU
2                               Algeria,25,0,14,0.7,AF
3                          Andorra,245,138,312,12.4,EU
4                              Angola,217,57,45,5.9,AF
..                                                 ...
188                         Venezuela,333,100,3,7.7,SA
189                             Vietnam,111,2,1,2.0,AS
190                                 Yemen,6,0,0,0.1,AS
191                              Zambia,32,19,4,2.5,AF
192                            Zimbabwe,64,18,4,4.7,AF

[193 rows x 1 columns]

In [15]:
drinks[['beer_servings','continent']].continent.value_counts()

KeyError: ignored

In [17]:
d=drinks.dropna(axis=0)
print(d.groupby('continent').wine_servings.describe())

KeyError: ignored