**Lab 1**

Using the dataset at https://bit.ly/2JIORnq
1. Assign it to a variable called users and use the 'user_id' as index
2. What is the age with least occurrence?
3. What is the mean age of users?
4. What is the most frequent occupation?

In [0]:
import pandas as pd
import numpy as np
users = pd.read_csv('https://bit.ly/2JIORnq',delimiter='|')
#print(users)
#User id as a index
users.set_index('user_id')

In [0]:
#Age with Least accurrence
import pandas as pd
import numpy as np
users = pd.read_csv('https://bit.ly/2JIORnq',delimiter='|')
users.set_index('user_id')
user.age.value_counts()

In [0]:
# mean age of user
import pandas as pd
import numpy as np
users = pd.read_csv('https://bit.ly/2JIORnq',delimiter='|')
users.set_index('user_id')
user.age.value_counts()
user.age.mean()

In [0]:
#most frequent occupation
import pandas as pd
import numpy as np
users = pd.read_csv('https://bit.ly/2JIORnq',delimiter='|')
users.set_index('user_id')
user.occupation.value_counts()

In [0]:
#Practics work
import pandas as pd
a = pd.Series({'a':1,'b':2,'c':3})
a

**Lab 2**

Dataset: https://bit.ly/2UUomN0
1. What is the price of each item?
2. What was the quantity of the most expensive item ordered?
3. How many times were a Veggie Salad Bowl ordered?
4. How many times people ordered more than one Canned Soda?

In [0]:
#What is the price of each item?
import pandas as pd
import numpy as np
load=pd.read_csv('https://bit.ly/2UUomN0',delimiter='\t')
print(load[['item_name',"item_price"]])
load['item_price']=load['item_price'].map(lambda x: float(x.strip()[1:]))
mostexp=load.sort_values(by='item_price',ascending=False)
print(mostexp)
print('\n\n\n most expensive item Quantity')
print(mostexp[['quantity','item_name']])
print(load)

In [3]:
# 3.How many times were a Veggie Salad Bowl ordered?
import pandas as pd
import numpy as np
load=pd.read_csv('https://bit.ly/2UUomN0',delimiter='\t')
print(load[['item_name',"item_price"]])
load['item_price']=load['item_price'].map(lambda x: float(x.strip()[1:]))
mostexp=load.sort_values(by='item_price',ascending=False)
print(mostexp)
print('\n\n\n most expensive item Quantity')
print(mostexp[['quantity','item_name']])
vsb=list(load.item_name)
print("\n\n\n Veggie salad bowl ordered Following times")
print(vsb.count("Veggie salad bowl"))

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]
      order_id  ...  item_price
3598      1443  ...       44.25
3480      1398  ...       35.25
1254       511  ...       35.00
3602      1443  ...       35.00
3601      1443  ...       33.75
...        ...  ...         ...
3936      1578  ...        1.09
2922      1162  ...        1.09
1396       567  ...        1.09
2562      1014  ...        1.09
1457       591  ...        1.09

[4622 rows x 5 columns]



 most expensive item Quantity
      quantity                     item_name
3598        15  Chips and Fresh Tomato Salsa
3480         3                 Carnitas Bowl
1254         4               Chicken Burrito
3602         4               Chicken Burrito
3601         3                Veggie Burrito
...        ...                           ...
3936         1                   Canned Soda
2922         1                 Bottled Water
1396         1                   Canned Soda
2562         1                   Canned Soda
1457         1                   Canned Soda

[4622 rows x 2 columns]



 Veggie salad bowl ordered Following times
0

In [5]:
import pandas as pd
import numpy as np
load=pd.read_csv('https://bit.ly/2UUomN0',delimiter='\t')
print(load[['item_name',"item_price"]])
load['item_price']=load['item_price'].map(lambda x: float(x.strip()[1:]))
mostexp=load.sort_values(by='item_price',ascending=False)
print(mostexp)
print('\n\n\n most expensive item Quantity')
print(mostexp[['quantity','item_name']])
vsb=list(load.item_name)
print("\n\n\n Veggie salad bowl ordered Following times")
print(vsb.count("Veggie salad bowl"))
soda1=load[(load['item_name']=='cannel Soda') & (load['quantity']>1)]
print(soda1)
print("\n\n\n\n pepole ordered more than one canned soda ")
print(soda1.shape[0])

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]
      order_id  ...  item_price
3598      1443  ...       44.25
3480      1398  ...       35.25
1254       511  ...       35.00
3602      1443  ...       35.00
3601      1443  ...       33.75
...        ...  ...         ...
3936      1578  ...        1.09
2922      1162  ...        1.09
1396       567  ...        1.09
2562      1014  ...        1.09
1457       591  ...        1.09

[4622 rows x 5 columns]



 most expensive item Quantity
      quantity                     item_name
3598        15  Chips and Fresh Tomato Salsa
3480         3                 Carnitas Bowl
1254         4               Chicken Burrito
3602         4               Chicken Burrito
3601         3                Veggie Burrito
...        ...                           ...
3936         1                   Canned Soda
2922         1                 Bottled Water
1396         1                   Canned Soda
2562         1                   Canned Soda
1457         1                   Canned Soda

[4622 rows x 2 columns]



 Veggie salad bowl ordered Following times
0
Empty DataFrame
Columns: [order_id, quantity, item_name, choice_description, item_price]
Index: []




 pepole ordered more than one canned soda
0

**Lab 3**

Dataset: https://bit.ly/1N5br3h
1. Assign Columns for the dataset 
2. Is there any missing value in the dataframe?
3. delete the column class
4. set the values of the rows 10 to 29 of the column 'petal_length' to NaN
5. Delete the rows that have NaN
6. Reset the index so it begins with 0 again
7. BONUS: Create & Answer your own question

In [0]:
# Import pandas package 
import pandas as pd 

# Define a dictionary containing Students data 
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'], 
		'Height': [5.1, 6.2, 5.1, 5.2], 
		'Qualification': ['Msc', 'MA', 'Msc', 'Msc']} 

# Convert the dictionary into DataFrame 
df = pd.DataFrame(data) 

# Declare a list that is to be converted into a column 
address = ['Delhi', 'Bangalore', 'Chennai', 'Patna'] 

# Using 'Address' as the column name 
# and equating it to the list 
df['Address'] = address 

# Observe the result 
df

In [0]:
# 1.Assign Columns for the dataset
#import numpy as np
import pandas as pd
load=pd.read_csv('https://bit.ly/1N5br3h',delimiter=',',names=['one','Two','Three','Forth','class'])
print(load)

In [0]:
# 2.Is there any missing value in the dataframe?
import pandas as pd
load=pd.read_csv('https://bit.ly/1N5br3h',delimiter=',',names=['one','Two','Three','Forth','class'])
print(load)
load.isnull()

In [0]:
#3.Delet the colum class
import pandas as pd
load=pd.read_csv('https://bit.ly/1N5br3h',delimiter=',',names=['one','Two','Three','Forth','class'])
print(load)
load.drop(['class'], axis = 1)

In [0]:
#4.Set the values of the rows 10 to 29 of the column 'petal_length' to NaN
import pandas as pd
load=pd.read_csv('https://bit.ly/1N5br3h',delimiter=',',names=['sepal_length','sepal_width','petal_length','petal_width','class'])
load.iloc[10:30,-2]=np.NaN
load.head(40)

In [0]:
#5.Delete the rows that have NaN
import pandas as pd
load=pd.read_csv('https://bit.ly/1N5br3h',delimiter=',',names=['sepal_length','sepal_width','petal_length','petal_width','class'])
load.iloc[10:30,-2]=np.NaN
load.dropna(axis=0, inplace=True)
load.head(n=40)

In [20]:
#6 Reset the index so it begins with 0 again
import pandas as pd
load=pd.read_csv('https://bit.ly/1N5br3h',delimiter=',',names=['sepal_length','sepal_width','petal_length','petal_width','class'])
load = load.reset_index()
del load['index']
load

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

**Lab 4**

DataSet: https://bit.ly/2CudMVh
1. Assign it to a variable called drinks.
2. Which continent drinks more beer on average?
3. For each continent print the statistics for wine consumption.
4. Display the mean alcohol consumption per continent for every column.
5. Display the median alcohol consumption per continent for every column.
6. Display the mean, min and max values for spirit consumption.

In [47]:
#1.Assign it to a variable called drinks
import pandas as pd
drinks = pd.read_csv("https://bit.ly/2CudMVh",sep=',' )
drinks.head(60)

                     country  ...  continent
0                Afghanistan  ...         AS
1                    Albania  ...         EU
2                    Algeria  ...         AF
3                    Andorra  ...         EU
4                     Angola  ...         AF
5          Antigua & Barbuda  ...        NaN
6                  Argentina  ...         SA
7                    Armenia  ...         EU
8                  Australia  ...         OC
9                    Austria  ...         EU
10                Azerbaijan  ...         EU
11                   Bahamas  ...        NaN
12                   Bahrain  ...         AS
13                Bangladesh  ...         AS
14                  Barbados  ...        NaN
15                   Belarus  ...         EU
16                   Belgium  ...         EU
17                    Belize  ...        NaN
18                     Benin  ...         AF
19                    Bhutan  ...         AS
20                   Bolivia  ...         SA
21        Bosnia-Herzegovina  ...         EU
22                  Botswana  ...         AF
23                    Brazil  ...         SA
24                    Brunei  ...         AS
25                  Bulgaria  ...         EU
26              Burkina Faso  ...         AF
27                   Burundi  ...         AF
28             Cote d'Ivoire  ...         AF
29                Cabo Verde  ...         AF
30                  Cambodia  ...         AS
31                  Cameroon  ...         AF
32                    Canada  ...        NaN
33  Central African Republic  ...         AF
34                      Chad  ...         AF
35                     Chile  ...         SA
36                     China  ...         AS
37                  Colombia  ...         SA
38                   Comoros  ...         AF
39                     Congo  ...         AF
40              Cook Islands  ...         OC
41                Costa Rica  ...        NaN
42                   Croatia  ...         EU
43                      Cuba  ...        NaN
44                    Cyprus  ...         EU
45            Czech Republic  ...         EU
46               North Korea  ...         AS
47                  DR Congo  ...         AF
48                   Denmark  ...         EU
49                  Djibouti  ...         AF
50                  Dominica  ...        NaN
51        Dominican Republic  ...        NaN
52                   Ecuador  ...         SA
53                     Egypt  ...         AF
54               El Salvador  ...        NaN
55         Equatorial Guinea  ...         AF
56                   Eritrea  ...         AF
57                   Estonia  ...         EU
58                  Ethiopia  ...         AF
59                      Fiji  ...         OC

[60 rows x 6 columns]

In [48]:
#2.Which continent drinks more beer on average?
import pandas as pd
drinks = pd.read_csv("https://bit.ly/2CudMVh",sep=',' )
drinks.head(60)
more_avg_beer=drinks.groupby('continent').beer_servings.mean()
more_avg_beer.head(1)

continent
AF    61.471698
Name: beer_servings, dtype: float64

In [49]:
#3.For each continent print the statistics for wine consumption
import pandas as pd
drinks = pd.read_csv("https://bit.ly/2CudMVh",sep=',' )
drinks.head(60)
drinks.groupby('continent').wine_servings.mean()

continent
AF     16.264151
AS      9.068182
EU    142.222222
OC     35.625000
SA     62.416667
Name: wine_servings, dtype: float64

In [44]:
#4.Display the mean alcohol consumption per continent for every column.
import pandas as pd
drinks = pd.read_csv("https://bit.ly/2CudMVh",sep=',')
drinks.groupby('continent').mean()

           beer_servings  ...  total_litres_of_pure_alcohol
continent                 ...
AF             61.471698  ...                      3.007547
AS             37.045455  ...                      2.170455
EU            193.777778  ...                      8.617778
OC             89.687500  ...                      3.381250
SA            175.083333  ...                      6.308333

[5 rows x 4 columns]

In [38]:
#5.Display the median alcohol consumption per continent for every column.
import pandas as pd
drinks = pd.read_csv("https://bit.ly/2CudMVh",sep=',' )
drinks.groupby('continent').total_litres_of_pure_alcohol.median()

continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

In [46]:
#6.Display the mean, min and max values for spirit consumption.
import pandas as pd
drinks = pd.read_csv("https://bit.ly/2CudMVh",sep=',')
print(drinks.spirit_servings.mean())
print(drinks.spirit_servings.max())
print(drinks.spirit_servings.min())

80.99481865284974
438
0