**Lab 1**

Using the dataset at https://bit.ly/2JIORnq
1. Assign it to a variable called users and use the 'user_id' as index
2. What is the age with least occurrence?
3. What is the mean age of users?
4. What is the most frequent occupation?

In [0]:
import numpy as np
import pandas as pd
data =pd.read_csv("https://bit.ly/2JIORnq",delimiter='|')
print(data.head)
min_age=data['age'].min()
print(min_age)
mean_age=data['age'].mean()
print(mean_age)
freq_count=data['occupation'].value_counts().head(1)
print(freq_count)

<bound method NDFrame.head of      user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]>
7
34.05196182396607
student    196
Name: occupation, dtype: int64

**Lab 2**

Dataset: https://bit.ly/2UUomN0
1. What is the price of each item?
2. What was the quantity of the most expensive item ordered?
3. How many times were a Veggie Salad Bowl ordered?
4. How many times people ordered more than one Canned Soda?

In [0]:
data =pd.read_csv("https://bit.ly/2UUomN0",delimiter='\t')
print(data.head(0))
data[['item_name','item_price']].drop_duplicates()

Empty DataFrame
Columns: [order_id, quantity, item_name, choice_description, item_price]
Index: []

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4237                    Chips and Guacamole     $8.50
4354                       Steak Soft Tacos    $18.50
4489                    Chips and Guacamole    $17.80
4509                                  Chips     $1.99
4510                          Barbacoa Bowl    $11.49

[209 rows x 2 columns]

In [0]:
dq =pd.read_csv("https://bit.ly/2UUomN0",delimiter='\t')
dq['item_price'] = dq['item_price'].map(lambda x: float(x.strip()[1:]))
print(dq.iloc[dq.item_price.argmax()])

order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                   44.25
Name: 3598, dtype: object

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  This is separate from the ipykernel package so we can avoid doing imports until

In [0]:
freq_z=dq[dq["item_name"]=='Veggie Salad Bowl' ].sum()
print(freq_z['quantity'])

18

In [0]:
freq_z=dq[dq["item_name"] =='Canned Soda' ].groupby('item_name')['order_id'].value_counts().sum()
display(freq_z)

104

**Lab 3**

Dataset: https://bit.ly/1N5br3h
1. Assign Columns for the dataset 
2. Is there any missing value in the dataframe?
3. delete the column class
4. set the values of the rows 10 to 29 of the column 'petal_length' to NaN
5. Delete the rows that have NaN
6. Reset the index so it begins with 0 again
7. BONUS: Create & Answer your own question

In [0]:
flow_s =pd.read_csv("https://bit.ly/1N5br3h",delimiter=',',names=['Sep_l','Sep_w','Pe_l','P_w','Cls'])
flow_s

     Sep_l  Sep_w  Pe_l  P_w             Cls
0      5.1    3.5   1.4  0.2     Iris-setosa
1      4.9    3.0   1.4  0.2     Iris-setosa
2      4.7    3.2   1.3  0.2     Iris-setosa
3      4.6    3.1   1.5  0.2     Iris-setosa
4      5.0    3.6   1.4  0.2     Iris-setosa
..     ...    ...   ...  ...             ...
145    6.7    3.0   5.2  2.3  Iris-virginica
146    6.3    2.5   5.0  1.9  Iris-virginica
147    6.5    3.0   5.2  2.0  Iris-virginica
148    6.2    3.4   5.4  2.3  Iris-virginica
149    5.9    3.0   5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [0]:
flow_s.isnull().sum()

Sep_l    0
Sep_w    0
Pe_l     0
P_w      0
Cls      0
dtype: int64

In [0]:
flow_s =pd.read_csv("https://bit.ly/1N5br3h",delimiter=',',names=['Sep_l','Sep_w','Pe_l','P_w','Cls'])
f2=flow_s.drop("Cls",axis=1)
f2

     Sep_l  Sep_w  Pe_l  P_w
0      5.1    3.5   1.4  0.2
1      4.9    3.0   1.4  0.2
2      4.7    3.2   1.3  0.2
3      4.6    3.1   1.5  0.2
4      5.0    3.6   1.4  0.2
..     ...    ...   ...  ...
145    6.7    3.0   5.2  2.3
146    6.3    2.5   5.0  1.9
147    6.5    3.0   5.2  2.0
148    6.2    3.4   5.4  2.3
149    5.9    3.0   5.1  1.8

[150 rows x 4 columns]

In [0]:
 f2['Pe_l']

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: Pe_l, Length: 150, dtype: float64

**Lab 4**

DataSet: https://bit.ly/2CudMVh
1. Assign it to a variable called drinks.
2. Which continent drinks more beer on average?
3. For each continent print the statistics for wine consumption.
4. Display the mean alcohol consumption per continent for every column.
5. Display the median alcohol consumption per continent for every column.
6. Display the mean, min and max values for spirit consumption.

In [0]:
import pandas as pd
drinks = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv",sep=',' )
drinks.head(60)
more_avg_beer=drinks.groupby('continent').beer_servings.mean()
more_avg_beer.head(1)

continent
AF    61.471698
Name: beer_servings, dtype: float64

In [0]:
drinks.groupby('continent').wine_servings.mean()

continent
AF     16.264151
AS      9.068182
EU    142.222222
OC     35.625000
SA     62.416667
Name: wine_servings, dtype: float64

In [0]:
drinks.groupby('continent').total_litres_of_pure_alcohol.mean()

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

In [0]:
drinks.groupby('continent').total_litres_of_pure_alcohol.median()

continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

In [0]:
drinks.spirit_servings.mean()
drinks.spirit_servings.min(axis=0)
drinks.spirit_servings.max(axis=0)

438