**Lab 1**

Using the dataset at https://bit.ly/2JIORnq
1. Assign it to a variable called users and use the 'user_id' as index
2. What is the age with least occurrence?
3. What is the mean age of users?
4. What is the most frequent occupation?

In [0]:
#Lab 1

import pandas as pd
#1. Assign it to a variable called users and use the 'user_id' as index
user = pd.read_csv('https://bit.ly/2JIORnq', delimiter = '|')
user.set_index('user_id')

#2. What is the age with least occurrence?
user.age.value_counts()

#3. What is the mean age of users?
user.age.mean()

#4. What is the most frequent occupation?
user.occupation.value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
doctor             7
homemaker          7
Name: occupation, dtype: int64

**Lab 2**

Dataset: https://bit.ly/2UUomN0
1. What is the price of each item?
2. What was the quantity of the most expensive item ordered?
3. How many times were a Veggie Salad Bowl ordered?
4. How many times people ordered more than one Canned Soda?

In [0]:
#Lab 2
import pandas as pd
import numpy as np
user=pd.read_csv("https://bit.ly/2UUomN0", delimiter='\t')
print(user[['item_name', 'item_price']] )
user['item_price']=user['item_price'].map(lambda x: float(x.strip()[1:]))
mostexp=user.sort_values(by='item_price', ascending=False)
print(mostexp)

print('\n \n \n Most expensive item Quantity and Item  Name')
print(mostexp.head(1)[['quantity', 'item_name']] )

vsb=list(user.item_name)

print("\n \n \n Veggie Salad Bowl ordered Following times") 
print(vsb.count("Veggie Salad Bowl")) 


soda1 = user[(user['item_name'] == 'Canned Soda') & (user['quantity'] > 1)]
print(soda1)
print("\n\n\n\n\nPeople ordered more than one Canned Soda")

print(soda1.shape[0])

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]
      order_id  ...  item_price
3598      1443  ...       44.25
3480      1398  ...       35.25
1254       511  ...       35.00
3602      1443  ...       35.00
3601      1443  ...       33.75
...        ...  ...         ...
3936      1578  ...        1.09
2922      1162  ...        1.09
1396       567  ...        1.09
2562      1014  ...        1.09
1457       591  ...        1.09

[4622 rows x 5 columns]



 Most expensive item Quantity and Item  Name
      quantity                     item_name
3598        15  Chips and Fresh Tomato Salsa



 Veggie Salad Bowl ordered Following times
18
      order_id  quantity    item_name choice_description  item_price
18           9         2  Canned Soda           [Sprite]        2.18
51          23         2  Canned Soda     [Mountain Dew]        2.18
162         73         2  Canned Soda        [Diet Coke]        2.18
171         76         2  Canned Soda  [Diet Dr. Pepper]        2.18
350        150         2  Canned Soda        [Diet Coke]        2.18
352        151         2  Canned Soda        [Coca Cola]        2.18
698        287         2  Canned Soda        [Coca Cola]        2.18
700        288         2  Canned Soda        [Coca Cola]        2.18
909        376         2  Canned Soda     [Mountain Dew]        2.18
1091       450         2  Canned Soda       [Dr. Pepper]        2.18
1092       450         2  Canned Soda        [Coca Cola]        2.18
1944       787         2  Canned Soda       [Dr. Pepper]        2.18
2135       859         2  Canned Soda        [Diet Coke]        2.18
2235       901         4  Canned Soda           [Sprite]        4.36
2905      1156         2  Canned Soda        [Coca Cola]        2.18
2906      1156         2  Canned Soda           [Sprite]        2.18
3152      1258         2  Canned Soda       [Dr. Pepper]        2.18
3364      1349         2  Canned Soda        [Coca Cola]        2.18
3592      1440         2  Canned Soda        [Diet Coke]        2.18
3866      1550         2  Canned Soda     [Mountain Dew]        2.18





People ordered more than one Canned Soda
20

**Lab 3**

Dataset: https://bit.ly/1N5br3h
1. Assign Columns for the dataset 
2. Is there any missing value in the dataframe?
3. delete the column class
4. set the values of the rows 10 to 29 of the column 'petal_length' to NaN
5. Delete the rows that have NaN
6. Reset the index so it begins with 0 again
7. BONUS: Create & Answer your own question

In [0]:
# Import pandas package 
import numpy as np
import pandas as pd 
load = pd.read_csv('https://bit.ly/1N5br3h',delimiter=',', names=['A', 'B', 'C', 'D', 'class'])
print(load)
#2
load.isnull()
#3
load.drop(['class'], axis=1)
#4
load = pd.read_csv('https://bit.ly/1N5br3h',delimiter=',', names=['A', 'B', 'C', 'petal_length', 'class'])
print(load)

       A    B    C    D           class
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]
       A    B    C  petal_length           class
0    5.1  3.5  1.4           0.2     Iris-setosa
1    4.9  3.0  1.4           0.2     Iris-setosa
2    4.7  3.2  1.3           0.2     Iris-setosa
3    4.6  3.1  1.5           0.2     Iris-setosa
4    5.0  3.6  1.4           0.2     Iris-setosa
..   ...  ...  ...           ...             ...
145  6.7  3.0  5.2           2.3  Iris-virginica
146  6.3  2.5  5.0           1.9  Iris-virginica
147  6.5  3.0  5.2           2.0  Iris-virginica
148  6.2  3.4  5.4           2.3  Iris-virginica
149  5.9  3.0  5.1           1.8  Iris-virginica

[150 rows x 5 columns]

**Lab 4**

DataSet: https://bit.ly/2CudMVh
1. Assign it to a variable called drinks.
2. Which continent drinks more beer on average?
3. For each continent print the statistics for wine consumption.
4. Display the mean alcohol consumption per continent for every column.
5. Display the median alcohol consumption per continent for every column.
6. Display the mean, min and max values for spirit consumption.

In [0]:
#Lab 4

import pandas as pd

#1. Assign it to a variable called drinks
drinks= pd.read_csv('https://bit.ly/2CudMVh', delimiter=',')
print(drinks)

#2. Which continent drinks more beer on average?
drinks[['beer_servings','continent']].continent.value_counts();

#3. For each continent print the statistics for wine consumption.
drk=drinks.dropna(axis=0)
print(drk.groupby('continent').wine_servings.describe())

#4. Display the mean alcohol consumption per continent for every column.

drinks.groupby('continent').mean()

#5. Display the median alcohol consumption per continent for every column
drinks.groupby('continent').total_litres_of_pure_alcohol.median()

#6. Display the mean, min and max values for spirit consumption.
print(drinks.spirit_servings.mean())
print(drinks.spirit_servings.max())
print(drinks.spirit_servings.min())

         country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0    Afghanistan              0  ...                           0.0         AS
1        Albania             89  ...                           4.9         EU
2        Algeria             25  ...                           0.7         AF
3        Andorra            245  ...                          12.4         EU
4         Angola            217  ...                           5.9         AF
..           ...            ...  ...                           ...        ...
188    Venezuela            333  ...                           7.7         SA
189      Vietnam            111  ...                           2.0         AS
190        Yemen              6  ...                           0.1         AS
191       Zambia             32  ...                           2.5         AF
192     Zimbabwe             64  ...                           4.7         AF

[193 rows x 6 columns]
           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0
80.99481865284974
438
0