**Lab 1**

Using the dataset at https://bit.ly/2JIORnq
1. Assign it to a variable called users and use the 'user_id' as index
2. What is the age with least occurrence?
3. What is the mean age of users?
4. What is the most frequent occupation?

In [0]:
import pandas as pd
users=pd.read_csv('https://bit.ly/2JIORnq',delimiter='|',index_col=0)
users

In [0]:
import pandas as pd
users=pd.read_csv('https://bit.ly/2JIORnq',delimiter='|',index_col=0)
users['age'].value_counts()

In [0]:
import pandas as pd
users=pd.read_csv('https://bit.ly/2JIORnq',delimiter='|',index_col=0)
users['age'].mean()

In [0]:
import pandas as pd
users=pd.read_csv('https://bit.ly/2JIORnq',delimiter='|',index_col=0)
users['occupation'].value_counts()

**Lab 2**

Dataset: https://bit.ly/2UUomN0
1. What is the price of each item?
2. What was the quantity of the most expensive item ordered?
3. How many times were a Veggie Salad Bowl ordered?
4. How many times people ordered more than one Canned Soda?

In [0]:
import pandas as pd
users=pd.read_csv('https://bit.ly/2UUomN0',delimiter='\t')
users['item_price']=users['item_price'].str.replace('$',' ')
users['item_actual_price']=users['item_price'].astype(float)/users['quantity']
users.drop_duplicates(subset='item_name', keep='first', inplace=False)
users

In [0]:
import pandas as pd
users=pd.read_csv('https://bit.ly/2UUomN0',delimiter='\t')
users['item_price']=users['item_price'].str.replace('$',' ')
users['item_actual_price']=users['item_price'].astype(float)/users['quantity']
result = users.sort_values('item_actual_price', ascending=False)
result.drop_duplicates(subset='item_name', keep='first',inplace=True)
result[:3]

In [0]:
import pandas as pd
users=pd.read_csv('https://bit.ly/2UUomN0',delimiter='\t')
x=users['item_name'].value_counts()
print("Veggie Salad Bowl has been ordered",x['Veggie Salad Bowl'],"times")

Veggie Salad Bowl has been ordered 18 times

In [0]:
import pandas as pd
users=pd.read_csv('https://bit.ly/2UUomN0',delimiter='\t')
#users=df.where(df['item_name']=='Canned Soda')
x=users.where(users['quantity']>1)

print("Canned Soda has been ordered",x['Canned Soda'],"times")
#users.where(users['item_name']=='Canned Soda',inplace=True)

**Lab 3**

Dataset: https://bit.ly/1N5br3h
1. Assign Columns for the dataset 
2. Is there any missing value in the dataframe?
3. delete the column class
4. set the values of the rows 10 to 29 of the column 'petal_length' to NaN
5. Delete the rows that have NaN
6. Reset the index so it begins with 0 again
7. BONUS: Create & Answer your own question

In [0]:
df=pd.read_csv('https://bit.ly/1N5br3h',delimiter=',')
df.columns=['sepal_length','sepal_width','petal_length','petal_width','class']
df

In [0]:
list_1=['sepal_length','sepal_width','petal_length','petal_width','class']
bool_series = pd.isnull(df[list_1])  
df[bool_series]

In [0]:
import pandas as pd
drinks=pd.read_csv('https://bit.ly/2CudMVh', delimiter=',')
serving=drinks.groupby(by='continent').describe()
serving['wine_servings']

In [0]:
del df['class']
df

In [0]:
#4. Set the values of the rows 10 to 29 of the column 'petal_length' to NaN
df=pd.read_csv('https://bit.ly/1N5br3h',delimiter=',')
df.columns=['sepal_length','sepal_width','petal_length','petal_width','class']
df['petal_length'][10:29]='NaN'
df[9:30]

In [0]:
#5. Delete the rows that have NaN
df=pd.read_csv('https://bit.ly/1N5br3h',delimiter=',')
list_1=['sepal_length','sepal_width','petal_length','petal_width','class']
df.columns=list_1
df.drop

**Lab 4**

DataSet: https://bit.ly/2CudMVh
1. Assign it to a variable called drinks.
2. Which continent drinks more beer on average?
3. For each continent print the statistics for wine consumption.
4. Display the mean alcohol consumption per continent for every column.
5. Display the median alcohol consumption per continent for every column.
6. Display the mean, min and max values for spirit consumption.

In [0]:
import pandas as pd
drinks=pd.read_csv('https://bit.ly/2CudMVh', delimiter=',')
drinks

         country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0    Afghanistan              0  ...                           0.0         AS
1        Albania             89  ...                           4.9         EU
2        Algeria             25  ...                           0.7         AF
3        Andorra            245  ...                          12.4         EU
4         Angola            217  ...                           5.9         AF
..           ...            ...  ...                           ...        ...
188    Venezuela            333  ...                           7.7         SA
189      Vietnam            111  ...                           2.0         AS
190        Yemen              6  ...                           0.1         AS
191       Zambia             32  ...                           2.5         AF
192     Zimbabwe             64  ...                           4.7         AF

[193 rows x 6 columns]

In [0]:
most_servings=drinks.groupby(by='continent').mean().sort_values('beer_servings',ascending=False)
most_servings[:1]

           beer_servings  ...  total_litres_of_pure_alcohol
continent                 ...
EU            193.777778  ...                      8.617778

[1 rows x 4 columns]

In [0]:
#For each continent print the statistics for wine consumption
import pandas as pd
drinks=pd.read_csv('https://bit.ly/2CudMVh',delimiter=',')
wine_data=drinks.groupby(by='continent').describe()
wine_data['wine_servings']

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

In [0]:
#Display the mean alcohol consumption per continent for every column.
most_servings

           beer_servings  ...  total_litres_of_pure_alcohol
continent                 ...
EU            193.777778  ...                      8.617778
SA            175.083333  ...                      6.308333
OC             89.687500  ...                      3.381250
AF             61.471698  ...                      3.007547
AS             37.045455  ...                      2.170455

[5 rows x 4 columns]

In [0]:
#Display the median alcohol consumption per continent for every column.
most_alcohol=drinks.groupby(by='continent').median().sort_values('total_litres_of_pure_alcohol',ascending=False)
most_alcohol['total_litres_of_pure_alcohol']

continent
EU    10.00
SA     6.85
AF     2.30
OC     1.75
AS     1.20
Name: total_litres_of_pure_alcohol, dtype: float64

In [0]:
#Display the mean, min and max values for spirit consumption
import pandas as pd
drinks=pd.read_csv('https://bit.ly/2CudMVh',delimiter=',')
spirit_data=drinks['spirit_servings']
spirit_data.describe()[['min','max','mean']]